[build]
  publish = "."
  command = ""

[dev]
  framework = "#custom"
  targetPort = 3000
  port = 3000
  publish = "."
  command = ""

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
